

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
     
     background-color: #F3F5FC;
     
}




.logo{
     position: absolute;
     top: 100px;
     left:88px;
     height: 48px;


}

.container{
     
     display: flex;
     flex-direction: column;
     width: 940px;
     margin: 0 auto;
     padding-top: 75px;
    
}

.box{
     
     display: flex;
     flex-direction: row;
     
}



main{
     display: flex;
     flex-direction: column;
     width: 700px;
     height: 550px;
     
}

.botonera{
     display: flex;
     flex-direction: row;
     margin: 0 auto;
}

aside{
     font-family: Inter;
     background-color: white;
     display: flex;
     flex-direction: column;
     border-radius: 20px;
     width: 240px;
     height: 100%px;
     box-shadow: 0px 24px 32px -8px #00000014;
     padding: 20px;
     

}

textarea{
     background-color: transparent;
     resize:none;
     outline:none;
     border:none;
     height: 100%;
     
     }

textarea:active{
     outline:none;
     
}
     

textarea:focus{
     outline:none;

}

.txt_original{
     font-family: Inter;
     font-size: 24px;
     font-weight: 400;
     line-height: 48px;
     letter-spacing: 0em;
     text-align: left;
     color:#0A3871;
     padding: 100px;
     flex:1 1 auto;
     
}

.txt_procesado{
     font-family: Inter;
     font-size: 12px;
     font-weight: lighter;
     line-height: 24px;
     letter-spacing: 0em;
     text-align: left;
     color:#495057;
     width: 240px;
     flex:1 1 auto;
     
}




input{
     display: flex;
}

.btn{
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     padding: 24px;
     position: static;
     height: 67px;
     left: 0px;
     top: 0px;
     border-radius: 24px; 
     width: 200px;
     vertical-align: baseline;

}

.btn-claro{
     
     background:transparent;
     border: 1px solid #0A3871;
     color:#0A3871;
    
}

.btn-oscuro{
    background: #0A3871;
    color: #FFFFFF;
     
}

.sin_info{
     display: flex;
     flex-direction: column;
     margin: auto 0;
}

.con_info{
    
}

.hidden{
     display:none;
}

.sin_info h3{
     margin-top: 10px;
     font-size: medium;
     font-weight: bold;
     text-align: center;

}

.sin_info p{
     margin-top: 15px;
     font-size: 10px;
     font-weight: lighter;
     text-align: center;

}

footer{
     margin-top: 10px;
     text-align: center;
     font-size: 10px;
     font-family: Inter;
     color:#495057;
}
